*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(55, 52, 52);
}
.container{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}
.heading{
    font-size: 50px;
    margin-bottom: 10px;
}
.calculations p{
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}
.calculations input{
    padding: 8px 20px;
    border-radius: 5px;
    border: 0px;
    margin-left: 15px;
}
.btn{
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
}
.weight-guide{
    margin-top: 50px;
}
.weight-guide h2{
    font-size: 30px;
}
.weight-guide p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
#results{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}